@font-face {
    font-family: Hanken;
    src: url(../assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Hanken;
    font-size: 18px;
    background-color: hsl(221, 100%, 96%);
}
.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
}
.main > .left{
    width: 250px;
    height: 350px;
    background: linear-gradient( hsl(252, 100%, 67%) , hsl(241, 81%, 54%));
    border-radius: 20px;
    padding: 10px;
    position: relative;
}
.main > .left::after{
    content: "";
    height: 100%;
    position: absolute;
    width: 30px;
    right: 0;
    background-color: white;
    z-index: -1;
    top: 0;
}
.main > .right{
    width: 280px;
    height: 350px;
    background-color: white;
    padding: 10px 0 10px 10px;
    border-radius: 0 20px 20px 0;
}
.main > .left div:nth-child(1){
    text-align: center;
    color:hsl(241, 100%, 89%);
    margin: 20px 0 30px;
}
.main > .left div:nth-child(2){
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: 700;
    color: white;
    margin-left: 45px;
    background: linear-gradient( hsla(256, 72%, 46%, 1) , hsla(241, 72%, 46%, 0));
}
.main > .left div:nth-child(2) span{
    font-size: 12px;
    position: absolute;
    color: hsl(241, 100%, 89%);
    font-weight: 700;
    bottom: 35px;
}
.main > .left div:nth-child(3){
    text-align: center;
    margin-top: 10px;
    color: white;
    font-size: 25px;
    font-weight: 700;
}
.main > .left p:nth-child(4){
    text-align: center;
    margin: 10px 25px;
    color: hsl(241, 100%, 89%);
    font-size: 14px;
    width: 200px;
}
.main > .right div:not(:first-child , :last-child){
    width: 85%;
    padding: 10px;
    margin: 10px 0 10px 8px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto;
}
.main > .right > div:nth-child(1){
    color: hsl(224, 30%, 27%);
    font-weight: 800;
    margin: 20px 0 20px 10px;
} 
.main > .right > div:nth-child(2){
    background-color: hsla(0, 100%, 67%, 0.073);
    position: relative;
}
.main > .right > div:nth-child(2)::before{
    content: url(../assets/images/icon-reaction.svg);
    position: absolute;
    top: 11px;
    left: 15px;
}
.main > .right > div:nth-child(2) > div:nth-child(1){
    display: flex;
    justify-content: center;
    color: hsl(0, 100%, 67%);
}
.main > .right > div:nth-child(2) > div:nth-child(2){
    display: flex;
    justify-content: flex-end;
    font-weight: 800;
    color: hsl(224, 30%, 27%);
}
.main > .right > div:nth-child(2) span{
    color: hsla(224, 30%, 27%, 0.488);
    font-weight: 800;
}
.main > .right > div:nth-child(3){
    position: relative;
    background-color: hsla(39, 100%, 56%, 0.089);
}
.main > .right > div:nth-child(3)::before{
    content: url(../assets/images/icon-memory.svg);
    top: 11px;
    left: 15px;
    position: absolute;
}
.main > .right > div:nth-child(3) > div:nth-child(1){
    display: flex;
    justify-content: center;
    color: hsl(39, 100%, 56%);
}
.main > .right > div:nth-child(3) > div:nth-child(2){
    display: flex;
    justify-content: flex-end;
    font-weight: 800;
    color: hsl(224, 30%, 27%);
}
.main > .right > div:nth-child(3) span{
    color: hsla(224, 30%, 27%, 0.488);
    font-weight: 800;
}
.main > .right > div:nth-child(4){
    position: relative;
    background-color: hsla(166, 100%, 37%, 0.087);
}
.main > .right > div:nth-child(4)::before{
    content: url(../assets/images/icon-verbal.svg);
    top: 11px;
    left: 15px;
    position: absolute;
}
.main > .right > div:nth-child(4) > div:nth-child(1){
    display: flex;
    justify-content: center;
    color: hsl(166, 100%, 37%);
}
.main > .right > div:nth-child(4) > div:nth-child(2){
    display: flex;
    justify-content: flex-end;
    font-weight: 800;
    color: hsl(224, 30%, 27%);
}
.main > .right > div:nth-child(4) span{
    color: hsla(224, 30%, 27%, 0.488);
    font-weight: 800;
}
.main > .right > div:nth-child(5){
    position: relative;
    background-color: hsla(234, 85%, 45%, 0.064);
}
.main > .right > div:nth-child(5)::before{
    content: url(../assets/images/icon-visual.svg);
    top: 11px;
    left: 15px;
    position: absolute;
}
.main > .right > div:nth-child(5) > div:nth-child(1){
    display: flex;
    justify-content: center;
    color: hsl(234, 85%, 45%);
}
.main > .right > div:nth-child(5) > div:nth-child(2){
    display: flex;
    justify-content: flex-end;
    font-weight: 800;
    color: hsl(224, 30%, 27%);
}
.main > .right > div:nth-child(5) span{
    color: hsla(224, 30%, 27%, 0.488);
    font-weight: 800;
}
.main > .right > div:nth-child(6){
    width: 85%;
    text-align: center;
    background-color: hsl(224, 30%, 27%);
    margin: 25px 0 10px 8px;
    padding: 10px;
    border-radius: 20px;
    color: white;
}
.main > .right >div:nth-child(6):hover{
    cursor: pointer;
    background: linear-gradient( hsl(252, 100%, 67%) , hsl(241, 81%, 54%));
}
